body {
  background-color: #fcf9f2;
  background-image: radial-gradient(#e5e2db 0.5px, transparent 0.5px);
  background-size: 24px 24px;
  min-height: max(884px, 100dvh);
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;

  vertical-align: middle;
}

.ex-libris-badge {
  border: 1px solid #ac8c52;
  background: linear-gradient(135deg, #ffdea9 0%, #e6c182 100%);
  box-shadow: inset 0 0 4px rgba(31, 19, 0, 0.1);
}

.inner-shadow-recessed {
  box-shadow: inset 0 2px 4px rgba(64, 34, 24, 0.05);
}